body{
        background-image: url("./assets/background1.jpg");
        background-size: cover;

}
h2{
    margin-left:30rem;

}
h1{
   font-size: 20px;
   color:black;
}
auth-form-container fu{
    list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}
label {
    text-align: left;
    padding: 0.25rem 0;
    margin-left: 30rem;
  }
  .img{
      align-items:center;
      margin-left:30rem;
  }
  
  input {
      margin: 0.5rem 0;
      padding: 1rem;
      border: none;
      border-radius: 10px;
      width:20%;
      margin-left: 30rem;
    }
    
    button {
        border: none;
        background-color: white;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        color: #7439db;
        width:20%;
        margin-left: 30rem;

  }
  
  .link-btn {
      background: none;
      color: white;
      text-decoration: underline;
  }